<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- DB connection String -->
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Web_Asp_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <!-- 암호화 -->
    <machineKey decryption="AES" decryptionKey="4201B597865ED1AB6919188B9BAF53D96BB57669ACD63A7F" validationKey="A1B74BF316248B81924DA451B70D9BEA2BE9EB4560B7F11443B04AEA4D677B2AEC99335E16F17F47DCC95D175829155DF2A4B3F716C17D14A150505173D209BE" />
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>

    <!-- 로그인 컨트롤 폼 인증 사용 -->
    <!-- 익명 사용자는 웹 사이트의 모든 페이지에 접근 불가 -->
    <!-- name:인증 쿠키 이름, loginUrl: 로그인 페이지. 인증 쿠키 없을경우 리다이렉트될 Url-->
    <!-- protection 암호화, 유효성 검사 모두 사용해 쿠키 보호-->
    <!-- path: 인증 쿠키가 적용되는 경로. 웹 사이트의 루트경로에 인증쿠키를 적용 -->
    <authentication mode="Forms">
      <forms name="MainAuth" loginUrl="/index.aspx" protection="All" timeout="30" path="/" defaultUrl="/index.aspx" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>

  <!-- Register.aspx와 PasswordRecovery.aspx는 접근할 수 있어야하므로 Public폴더에 보안 정책 설정-->
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="?" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Board">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- jquery ScriptResourceMapping -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
